/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
 /*height: 60px;*/
  background-color: #f5f5f5;;
}

 .footer-nav {
  text-align:right;
  list-style:none;
 }

 .footer-nav li {
  display:inline;
  bottom: 0;
  
 }

 .footer-nav li:not(:first-child):before {
  content:'|';
  padding:0px 10px;
 }

 .footer-nav a {
  color:#b2b2b2;
 }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
} */
